[Unit]
Description=musicazoo player service

[Service]
EnvironmentFile=/home/musicazoo/musicazooing/config.env
ExecStart=/usr/bin/python3 /home/musicazoo/musicazooing/player-mpv.py
Restart=always

[Install]
WantedBy=default.target
